* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
    font-family: 'Orbitron', sans-serif;
    background-color: #2b2b2b;
    color: #fff;
}

header,
nav,
main,
aside,
footer {
    display: flex;
    margin: 3px;
}

header {
    height: 100px;
    flex: 1 1 100vw;
    background-color: #1c1c1c;
    padding: 10px;
}

header #logo {
    display: flex;
    flex: 0 1 200px;
    background: #333;
    justify-content: center;
    align-items: center;
    color: #f76c6c;
    font-size: 24px;
    font-weight: bold;
}

#openMenu,
#closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px;
    cursor: pointer;
    color: #f76c6c;
    display: none;
}

nav {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
    background-color: #444;
    padding: 10px;
}

nav a {
    margin: 0 3%;
    font-size: 15pt;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #f76c6c;
}

main {
    flex-direction: column;
    padding: 20px;
    height: calc(100vh - 224px);
    flex: 20 1 500px;
    background: #2d2d2d;
}

main h2 {
    margin-bottom: 20px;
    color: #f76c6c;
}

main input,
main button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

main input {
    background-color: #444;
    border: 1px solid #555;
    color: #fff;
}

main button {
    background-color: #f76c6c;
    border: none;
    color: white;
    cursor: pointer;
}

main button:hover {
    background-color: #c94f4f;
}

main ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

main li {
    background: #333;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main button.remove {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

aside {
    flex: 1 1 200px;
    background: #333;
    padding: 20px;
}

footer {
    height: 100px;
    flex: 1 1 100vw;
    background: #222;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.siga-nos ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

.siga-nos li {
    margin-bottom: 10px;
}

.voltar {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.voltar:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 717px) {

    #openMenu,
    #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    nav a {
        margin: 3%;
    }

    main {
        height: calc(100vh - 330px);
    }

    aside {
        height: 100px;
    }
}